---
import type { IProject } from "src/models/project";
import { cn } from "src/utils/class-name";
import GithubLineIcon from "../icons/GithubLineIcon.astro";
import RedirectLineIcon from "../icons/RedirectLineIcon.astro";
import stringPreprocessor from "../../../utils/string-preprocessor";
import InteractiveImage from "../InteractiveImage.astro";

interface Props {
  data: IProject;
  inverted: boolean;
}

const {
  data: { title, date, description, techStack, imageUrl, githubUrl, projectUrl, isLive, isCollaborative },
  inverted,
} = Astro.props;

const processedDescription = stringPreprocessor(description);
---

<section
  class={cn(
    inverted ? "flex-row max-lg:flex-col" : "flex-row-reverse max-lg:flex-col",
    "flex w-full max-lg:gap-6 gap-16 p-12 max-lg:p-2 hover:bg-primary hover:bg-opacity-50 duration-200 rounded-2xl cursor-pointer",
  )}>
  <div class="flex w-[45%] flex-col gap-2 max-lg:w-full">
    <div class="w-full">
      {
        imageUrl.length > 0 && (
          <InteractiveImage
            class="max-h-64 w-full cursor-pointer rounded-xl object-cover transition-transform hover:scale-[102%]"
            width={550}
            height={350}
            src={imageUrl[0]!}
            alt="Temporary Image"
          />
        )
      }
    </div>
    {
      imageUrl.length > 1 && (
        <div class={cn("flex w-full gap-4 max-lg:gap-2", imageUrl.length > 3 ? "justify-between" : "justify-start")}>
          {imageUrl.slice(1).map(async (url) => {
            return (
              <InteractiveImage
                class="max-h-32 w-[31%] cursor-pointer rounded-lg object-cover transition-transform hover:scale-[102%]"
                width={550}
                height={250}
                src={url}
                alt="Temporary Image"
              />
            );
          })}
        </div>
      )
    }
  </div>
  <div class="flex w-[55%] flex-col items-start justify-center max-lg:w-full">
    {
      isLive && (
        <div class="relative flex items-center">
          <span class="absolute -left-0.5 inline-flex h-4 w-4 animate-ping rounded-full bg-red-500 opacity-75" />
          <span class="relative inline-flex h-3 w-3 rounded-full bg-red-500" />
          <p class="ps-3 text-base text-white max-lg:text-sm">LIVE</p>
        </div>
      )
    }
    <h4 class="flex items-center gap-2 text-3xl font-semibold text-white max-lg:gap-1 max-lg:text-lg">
      <span class="pe-4">{title}</span>
      {
        githubUrl?.map((url) => {
          return (
            <a
              target="_blank"
              href={url}
              class="w-8 cursor-pointer stroke-white transition-colors hover:stroke-primary max-lg:w-6 max-lg:min-w-6">
              <GithubLineIcon />
            </a>
          );
        })
      }
      {
        isLive && (
          <a
            target="_blank"
            href={projectUrl}
            class="w-8 cursor-pointer stroke-white transition-colors hover:stroke-primary max-lg:w-6 max-lg:min-w-6">
            <RedirectLineIcon />
          </a>
        )
      }
    </h4>
    <p class="pb-4 text-gray-500 max-lg:text-sm">{date} - {isCollaborative ? "Collaborative" : "Personal"}</p>
    <Fragment
      class="py-4 text-base max-lg:text-xs text-white"
      set:html={processedDescription}
    />
    <div class="flex flex-wrap gap-4 pt-4 max-lg:gap-2">
      {
        techStack.map((tech) => {
          return (
            <span class="flex items-center justify-center text-nowrap rounded-full bg-[#00ADB4] bg-opacity-20 px-4 py-0.5 text-center font-roboto-mono text-primary text-sm transition-transform hover:scale-110 max-lg:px-2 max-lg:text-xs">
              {tech}
            </span>
          );
        })
      }
    </div>
  </div>
</section>
