---
import { Image } from "astro:assets";
import { cn } from "../../../utils/class-name";
import { type IExperience } from "../../../models/experience";
import stringPreprocessor from "../../../utils/string-preprocessor";

interface Props {
  isLast?: boolean;
  data: IExperience;
}

const { isLast = false, data } = Astro.props;

const processedDescription = data.description.map(stringPreprocessor).join("");
---

<li
  class={cn(
    isLast ? "" : "after:h-[calc(100%-2.9rem)]",
    "relative h-fit after:absolute after:left-6 after:top-[4.4rem] after:mt-px after:w-px after:bg-fill-primary",
  )}>
  <div class="flex justify-start items-start gap-8 py-6">
    <span
      class="me-3 flex h-12 w-12 min-h-12 min-w-12 aspect-square items-center justify-center rounded-full text-sm bg-fill-primary bg-opacity-40 border-[1.5px] border-primary text-white">
    </span>
    <section class="flex flex-col gap-8 pt-2 pb-8">
      <header class="flex flex-col gap-2">
        <h2 class="text-white text-2xl font-bold">{data.date}</h2>
        <h2 class="text-white text-2xl font-bold">{data.title}</h2>
      </header>
      <div
        class="text-white text-base"
        set:html={processedDescription}
      />
      <div class="flex gap-8 py-4">
        {
          data.imageUrls.map((image) => {
            return (
              <div class="flex flex-col items-start gap-2 justify-center">
                <Image
                  class="object-cover rounded-3xl"
                  width="250"
                  height="50"
                  src={image.src}
                  alt={image.alt}
                />
                <span class="text-base text-white text-opacity-50">{image.description}</span>
              </div>
            );
          })
        }
      </div>
    </section>
  </div>
</li>
