---
import Navbar from "src/components/astro/Navbar.astro";
import Footer from "src/components/astro/Footer.astro";
import ArrowIcon from "../components/astro/icons/ArrowIcon.astro";
import EmailIcon from "../components/astro/icons/EmailIcon.astro";
import WhatsappIcon from "src/components/astro/icons/WhatsappIcon.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import homeData from "src/data/home.json.ts";
import ExpertiseCard from "../components/astro/home/ExpertiseCard.astro";
import LocationIcon from "../components/astro/icons/LocationIcon.astro";
import SideContacts from "../components/astro/VerticalContacts.astro";
import HorizontalContacts from "../components/astro/HorizontalContacts.astro";
import stringPreprocessor from "../utils/string-preprocessor";
import { StarsBackground } from "../components/react/aceternity/stars-background";
import { ShootingStars } from "../components/react/aceternity/shooting-stars";
import imageReader from "../utils/image-reader";

const processedExpertise = homeData.expertise.map((e) => {
  const description = stringPreprocessor(e.description);
  return {
    title: e.title,
    description: description,
  };
});
---

<Layout title="Home Page">
  <ShootingStars client:load />
  <StarsBackground client:load />
  <main class="relative flex h-full min-h-[100vh] w-full min-w-[100vw] flex-col items-center">
    <Navbar />
    <SideContacts />
    <div class="flex w-3/4 flex-col justify-center max-lg:w-full">
      <section class="flex h-[100vh] min-h-[100vh] items-center justify-between gap-5 max-lg:justify-center">
        <div class="flex w-3/5 flex-col items-start gap-2 max-lg:w-4/5 max-lg:items-center">
          <h2 class="w-full text-4xl font-bold text-white max-lg:text-center max-lg:text-xl">{homeData.greetings}</h2>
          <h1 class="name-gradient w-full text-6xl font-semibold drop-shadow-primary max-lg:text-center max-lg:text-3xl">{homeData.name}</h1>
          <div class="flex flex-col gap-4 py-8 max-lg:px-4">
            {
              homeData.description.map((d) => {
                return <p class="font-inter text-base text-white max-lg:text-justify max-lg:text-xs">{d}</p>;
              })
            }
          </div>
          <a
            href="/CV_Robert_Wiliam.pdf"
            target="_blank"
            class="button-animation relative my-8 overflow-hidden rounded-full border border-primary bg-transparent px-8 py-4 text-primary font-semibold transition-colors hover:text-white max-lg:my-0 max-lg:px-4 max-lg:py-2 max-lg:text-justify max-lg:text-xs">
            <span class="relative z-10">Download CV</span>
          </a>
        </div>
        <div class="flex w-1/4 flex-col max-lg:hidden">
          <Image
            class="aspect-square rounded-full object-cover"
            width="550"
            height="550"
            src={imageReader("/home/profile.jpg")!}
            alt="Temporary Image"
          />
        </div>
      </section>
      <section class="flex h-[80vh] min-h-[80vh] flex-col items-center justify-center max-lg:h-fit">
        <h3 class="text-4xl font-semibold text-white max-lg:text-xl">My Expertise and Interest</h3>
        <div class="flex max-w-full gap-8 pb-8 pt-16 max-lg:w-3/4 max-lg:flex-col max-lg:items-center max-lg:justify-center max-lg:pt-8">
          {
            processedExpertise.map((expertise) => {
              return (
                <ExpertiseCard title={expertise.title}>
                  <div
                    class="text-base text-white max-lg:text-2xs"
                    set:html={expertise.description}
                  />
                </ExpertiseCard>
              );
            })
          }
        </div>
        <div class="flex w-full justify-end max-lg:w-2/3 max-lg:justify-center">
          <div class="arrow-animation group flex cursor-pointer items-center justify-center gap-2 font-light">
            <a
              href="./works"
              class="text-xl text-white max-lg:text-sm">
              Learn more about my works
            </a>
            <div class="w-6 group-hover:animate-wiggle max-lg:w-4">
              <ArrowIcon />
            </div>
          </div>
        </div>
      </section>
      <section class="flex flex-col items-center gap-12 py-16 max-lg:gap-6">
        <h3 class="text-4xl font-semibold text-white max-lg:text-xl">Let's Get In Touch</h3>
        <div
          class="flex items-start justify-center gap-32 px-64 max-2xl:px-32 max-xl:px-16 max-lg:flex-col max-lg:items-center max-lg:gap-8 max-lg:px-4">
          <div class="w-1/2 text-xl text-white max-lg:w-3/4 max-lg:text-justify max-lg:text-xs">
            {homeData.contacts.description}
          </div>
          <div class="flex w-1/2 flex-col gap-8 max-lg:w-2/3 max-lg:gap-3">
            <div
              class="contact-animation relative flex w-fit cursor-pointer gap-4 fill-white text-white transition-colors hover:fill-primary hover:text-primary">
              <span class="w-8 max-lg:w-5">
                <EmailIcon />
              </span>
              <span class="text-lg max-lg:text-xs"> robert.wiliam12345@gmail.com </span>
            </div>
            <div
              class="contact-animation relative flex w-fit cursor-pointer gap-4 fill-white text-white transition-colors hover:fill-primary hover:text-primary">
              <span class="w-8 max-lg:w-5">
                <WhatsappIcon />
              </span>
              <span class="text-lg max-lg:text-xs"> +62 878-8898-8754 </span>
            </div>
            <div
              class="contact-animation relative flex w-fit cursor-pointer gap-4 fill-white text-white transition-colors hover:fill-primary hover:text-primary">
              <span class="w-8 max-lg:w-5">
                <LocationIcon />
              </span>
              <span class="text-lg max-lg:text-xs"> Jakarta, Indonesia </span>
            </div>
          </div>
        </div>
        <HorizontalContacts />
      </section>
      <Footer />
    </div>
  </main>
</Layout>

<style>
  .name-gradient {
    background: linear-gradient(to bottom, #37b7c3, #088395);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .button-animation::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00adb4;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
    z-index: 0;
  }

  .button-animation:hover::after {
    transform: scaleX(1);
  }

  .contact-animation::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20%;
    width: 100%;
    height: 1px;
    background-color: #00adb4;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
    z-index: 0;
  }

  .contact-animation:hover::after {
    transform: scaleX(1);
  }
</style>
