---
import Navbar from "src/components/astro/Navbar.astro";
import Footer from "src/components/astro/Footer.astro";
import ArrowIcon from "../components/astro/icons/ArrowIcon.astro";
import EmailIcon from "../components/astro/icons/EmailIcon.astro";
import WhatsappIcon from "src/components/astro/icons/WhatsappIcon.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import homeData from "src/data/home.json.ts";
import ExpertiseCard from "../components/astro/home/ExpertiseCard.astro";
import LocationIcon from "../components/astro/icons/LocationIcon.astro";
import SideContacts from "../components/astro/VerticalContacts.astro";
import HorizontalContacts from "../components/astro/HorizontalContacts.astro";

const processedExpertise = homeData.expertise.map((e) => {
  const description = e.description.replaceAll("[", "<span class='text-primary text-xl font-semibold'>").replaceAll("]", "</span>");

  return {
    title: e.title,
    description: description,
  };
});
---

<Layout title="Home Page">
  <main class="flex flex-col items-center relative w-full h-full min-w-[100vw] min-h-[100vh] bg-background">
    <Navbar />
    <SideContacts />
    <div class="flex flex-col w-3/4">
      <section class="flex justify-between items-center min-h-[100vh] h-[100vh] gap-5">
        <div class="flex flex-col items-start gap-2 w-3/5">
          <h2 class="text-4xl font-bold text-white">{homeData.greetings}</h2>
          <h1 class="text-6xl font-semibold name-gradient drop-shadow-primary">{homeData.name}</h1>
          <div class="flex flex-col gap-4 py-8">
            {
              homeData.description.map((d) => {
                return <p class="text-white font-inter text-xl">{d}</p>;
              })
            }
          </div>
          <button
            class="text-primary font-semibold rounded-full transition-colors bg-transparent my-8 py-4 px-8 border overflow-hidden hover:text-white border-primary relative button-animation">
            <span class="relative z-10">Download CV</span>
          </button>
        </div>
        <div class="flex flex-col w-1/4">
          <Image
            class="rounded-full aspect-square object-cover"
            width="550"
            height="550"
            src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
            alt="Temporary Image"
          />
        </div>
      </section>
      <section class="flex flex-col items-center min-h-[100vh] h-[100vh]">
        <h3 class="text-white text-4xl font-semibold">My Expertise and Interest</h3>
        <div class="flex gap-8 pt-16 pb-8">
          {
            processedExpertise.map((expertise) => {
              return (
                <ExpertiseCard title={expertise.title}>
                  <div
                    class="text-white"
                    set:html={expertise.description}
                  />
                </ExpertiseCard>
              );
            })
          }
        </div>
        <div class="flex w-full justify-end">
          <div class="flex justify-center group items-center gap-2 font-light arrow-animation cursor-pointer">
            <a
              href="./works"
              class="text-xl text-white">
              Learn more about my works
            </a>
            <div class="group-hover:animate-wiggle">
              <ArrowIcon />
            </div>
          </div>
        </div>
      </section>
      <section class="flex flex-col items-center gap-12 py-16">
        <h3 class="text-white text-4xl font-semibold">Let's Get In Touch</h3>
        <div class="flex px-32 items-center justify-center gap-32">
          <div class="w-1/2 text-white text-2xl text-justify">
            {homeData.contacts.description}
          </div>
          <div class="flex flex-col w-1/2 gap-8">
            <div
              class="flex gap-4 relative contact-animation transition-colors cursor-pointer text-white fill-white hover:fill-primary hover:text-primary w-fit">
              <EmailIcon />
              <span class="text-xl"> robert.wiliam12345@gmail.com </span>
            </div>
            <div
              class="flex gap-4 relative contact-animation transition-colors cursor-pointer text-white fill-white hover:fill-primary hover:text-primary w-fit">
              <WhatsappIcon />
              <span class="text-xl"> +62 878-8898-8754 </span>
            </div>
            <div
              class="flex gap-4 relative contact-animation transition-colors cursor-pointer text-white fill-white hover:fill-primary hover:text-primary w-fit">
              <LocationIcon />
              <span class="text-xl"> Jakarta, Indonesia </span>
            </div>
          </div>
        </div>
        <HorizontalContacts />
      </section>
      <Footer />
    </div>
  </main>
</Layout>

<style>
  .name-gradient {
    background: linear-gradient(to bottom, #37b7c3, #088395);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .button-animation::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00adb4;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
    z-index: 0;
  }

  .button-animation:hover::after {
    transform: scaleX(1);
  }

  .contact-animation::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20%;
    width: 100%;
    height: 1px;
    background-color: #00adb4;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
    z-index: 0;
  }

  .contact-animation:hover::after {
    transform: scaleX(1);
  }
</style>
